* {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'snap-itc-regular', 'Times New Roman';
}

.offcanvas-body .title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
}

.triangle-patterns {
    height: 10px;
    background-image: repeating-conic-gradient(from 30deg, #5c2f2e 0% 60deg, #ffffff 0% 120deg);
    background-size: 10px 17px;
    background-color: #ffffff;
}

.triangle-patterns-prop {
    height: 3px;
    background-color: #5c2f2e;
    bottom: 0;
}

footer .triangle-patterns {
    height: 7px;
    background-image: repeating-conic-gradient(from 30deg, #000 0% 60deg, #ffffff 0% 120deg);
    background-size: 10px 17px;
    background-color: #ffffff;
}

footer span {
    color: #ff599a;
}

footer .content {
    padding-bottom: 250px;
}

.banner-image {
    width: 100%;
    height: 400px;
    background-image: url("/images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-image.second {
    width: 100%;
    height: 400px;
    background-image: url("/images/macaron banner 2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-image.third {
    width: 100%;
    height: 400px;
    background-image: url("/images/macaron banner 3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    width: 320px;
}

.card-img-top {
    height: 320px;
}

.shop .card {
    width: 220px;
}

.shop .card-img-top {
    height: 220px;
}

.filter button {
    width: 130px;
    border-radius: 50px;
    border: 1px solid gray;
}

.product-header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.minus:hover, .plus:hover {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.login main {
    height:100vh;
    background: #81a6e0;
    background: linear-gradient(to bottom, #81a6e0 0%, #cc7bc5 100%);
}

.register main {
    height:100vh;
    background: #cc7bc5;
    background: linear-gradient(to top, #81a6e0 0%, #cc7bc5 100%);
}

@media only screen and (max-width: 800px) {

    #dropdownUser1 .name {
        display: none !important;
    }

    .profile .header {
        flex-direction: column !important;
        align-items: center !important;
    }

    .shop-container .flex {
        flex-direction: column !important;
        align-items: center !important;
    }

    .detail-card {
        align-items: center !important;
    }

    .detail-card .tags {
        padding: 0 20px !important;
        justify-content: center !important;
    }

    .details-desc {
        align-items: center !important;
        padding: 10px 30px !important;
    }

    .cart-product {
        padding: 0 !important;
    }

    .cart-card {
        flex-direction: column !important;
        width: 230px !important;
    }
}

@media only screen and (max-width: 1000px) {
    .cart .flex {
        flex-direction: column !important;
    }
}
